### Tests if keywords are being scraped and if scraped domains are being excluded from master list

In [2]:
import os
import pandas as pd

In [5]:
unparsed_path=os.getcwd()+"\\unscraped\\pickled_cats_cleaned.pkl"
parsed_path=os.getcwd()+"\\scraped\\"

In [12]:
df_unparsed=pd.read_pickle(unparsed_path).reset_index()
parsed_files=os.listdir(parsed_path)
df_parsed=pd.concat([pd.read_pickle(parsed_path+file) for file in parsed_files]).rename(columns={'site': 'url_domain'})
df_parsed.head()

,term,url_domain,popularity,competition,competition_paid,traffic,impression,share_of_voice,site_traffic_pct,pixel_domain
0,anyone willing to adopt a newborn baby,adopt.org,7,21,100,40,None,5.901036,0.091243,adopt.org
1,how can i adopt a baby,adopt.org,7,48,100,45,None,25.791192,0.245405,adopt.org
2,children for adoption in nc,adopt.org,7,18,97,31,None,1.034798,0.014566,adopt.org
3,adoption matching websites,adopt.org,6,30,97,23,None,0.344912,0.003228,adopt.org
4,domestic adoption agencies,adopt.org,11,43,96,28,None,0.385716,0.008409,adopt.org

In [13]:
pd.merge(df_unparsed, df_parsed, on='url_domain')

,url_domain,term,popularity,competition,competition_paid,traffic,impression,share_of_voice,site_traffic_pct,pixel_domain
0,cruzan.com,private boat rentals in bahamas,6,17,100,9,None,0.020246,0.002658,cruzan.com
1,cruzan.com,rent a sailboat in miami per week,4,13,100,33,None,3.299510,0.300155,cruzan.com
2,cruzan.com,bahamas bareboat charter,5,39,100,23,None,0.295861,0.043496,cruzan.com
3,cruzan.com,yacht rental florida keys,4,19,100,38,None,11.494591,0.879126,cruzan.com
4,cruzan.com,bahamas yacht charters,10,23,100,22,None,0.108295,0.039717,cruzan.com
...,...,...,...,...,...,...,...,...,...,...
1788,afmonline.org,sda mission stories,6,12,0,23,None,0.217679,0.047552,afmonline.org
1789,afmonline.org,sliger,19,60,0,12,None,0.004797,0.005238,afmonline.org
1790,afmonline.org,adventist missions,6,10,0,42,None,12.321717,2.091247,afmonline.org
1791,afmonline.org,laurie erickson,10,60,0,36,None,0.653343,0.611669,afmonline.org
1792,afmonline.org,ricardo palacios,8,68,0,37,None,1.117566,0.765507,afmonline.org